<div class=row>
  <div class="col l6" >
    <h1 class="about_me_header">The name is Zuri. </h1><%= link_to "Sign In Zuri", new_user_session_path, class: "sign_in"%>
    <p id="about_me_txt" >I am a Generation-Y. I just recently graduted from Howard University with a degree in Computer Information Systems and I am currently trying to figure out how much of an impact can I make on the world and my finances with this lovely degree. </p>
    <p> I like to play video games. My preferred console is PlayStation. My favorite games are First Person Shooters, Role Playing Games and combat games. My top games for each category are Call Of Duty, Assassins Creed and Mortal Kombat X.</p>
    <p> I like to watch American football. My favorite team of all time is the New England Patriots. I participate in Fantasy Football for the past four seasons and I would like to say I am pretty much a game changer in any league I am a part of.</p>
    <p>I like to read. My favorite book series of all time is the brilliant J.K Rowling "Harry Potter" series.</p>
    <p>I like to code. I am currently trying to master Ruby on Rails so instead of using WordPress to build this site I am using my Ruby on Rails skills to build it</p>
    <p>I like to knit. I know how to make hats, scarves, booties and tons of cute things</p>
    <p> I am not too much of a writer but I feel that some of the content I have on here will be pretty useful for some struggling folks like myself.</p>
  </div>
  <div class="col l6" id="about_me_pic">
    
  </div>
</div>