<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta name="author" content="Travelogue" />

		<title>Travelogue | About</title>
		<link rel="shortcut icon" href="img/favicon.ico">

		<!-- ### CSS Stylesheets ##################################################################### -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" /><!-- CSS: Normalize -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" /><!-- CSS: Font Awesome -->
		<link rel="stylesheet" type="text/css" href="css/styles.css" /><!-- CSS: Main CSS -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css" /><!-- CSS: Responsive CSS -->	
	</head>
	<body class="index-about">
		<div id="container" class="container intro-effect-side">

			<a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
			  	<span class="cd-menu-icon"></span>
			</a>

			<!-- BOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->
			<div id="travelogue-search" class="travelogue-search">
				<form>
					<input class="travelogue-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
					<input class="travelogue-search-submit" type="submit" value="">
					<span class="travelogue-icon-search fa fa-search"></span>
				</form>
			</div>
			<!-- EOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->

			<header class="header">
				<div class="bg-img">
					<img  class="async-image hide" src="#" data-src="http://placehold.it/1280x720/7f8c8d/ffffff" alt="" />
					<div class="overlay hidden" id="overlay"></div>
				</div>
				<div class="title hidden" id="title">					
					<h1>About me</h1>
					<p class="subline">My life is my message.</p>
				</div>
			</header>
			<button class="trigger scroll-down-pulse"><span>Trigger</span></button>

			<article class="content">
				<div>
					<h1><span class="black">Introduction </span><span class="green">letter</span></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit.</p>

				</div>
				<!-- Map holder -->
				<div class="travelogue-product travelogue-container">
				    <div class="travelogue-product-wrapper">
				    	<!-- Map image -->
				        <img src="img/map.jpg" />

				        <!-- ul with all the points -->
				        <ul>
				            <!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-left">
				                    <h2>The Balkans</h2>

				                    <p>Oh, you have to love the balkan accent. I bet you, you will
				                    love more their beautifull nature.</p><img src=
				                    "http://placehold.it/560x290/7f8c8d/ffffff" /> <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				            <!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-right">
				                    <h2>In the jungle</h2>

				                    <p>The last time I was in the jungle, a monkey jumped me and
				                    stole my camera.</p><img src="http://placehold.it/560x290/7f8c8d/ffffff" />
				                    <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				            <!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-right">
				                    <h2>Murica</h2>

				                    <p>The wild wild west has calmed down a little bit. It is more
				                    like calm calm west.</p><img src="http://placehold.it/560x290/7f8c8d/ffffff" />
				                    <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				        	<!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-left">
				                    <h2>Hot as Ice</h2>

				                    <p>If hell was a real place, I bet this would be its capital.
				                    Temperatures here can reach minus 55 degrees.</p><img src=
				                    "http://placehold.it/560x290/7f8c8d/ffffff" /> <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				            <!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-top">
				                    <h2>Australia</h2>

				                    <p>Everything is upside down but the blood will not rush down to
				                    your head. And there will be kangaroos.</p><img src=
				                    "http://placehold.it/560x290/7f8c8d/ffffff" /> <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				            <!-- Single point -->
				            <li class="travelogue-single-point">
				                <a class="travelogue-img-replace" href="#0">More</a>

				                <div class="travelogue-more-info travelogue-bottom">
				                    <h2>Bearland</h2>

				                    <p>If you love bears, go there but be warned they will not love
				                    you.</p><img src="http://placehold.it/560x290/7f8c8d/ffffff" /> <a href="#0" class=
				                    "travelogue-close-info travelogue-img-replace">Close</a>
				                </div>
				            </li><!-- End of .travelogue-single-point -->

				        </ul><!-- End of ul with all the points -->
				    </div><!-- End of .travelogue-product-wrapper -->
				</div><!-- End of Map holder -->

				<div class="clearfix"></div>

				<div>
					<h1 class="text-left"><span class="black">Let me take you </span><span class="green">to the mountain</span></h1>
					<div class="author_skills">
			            <div class="one_half">
							<iframe src="http://www.youtube.com/embed/C-y70ZOSzE0?hd=1&amp;rel=0&amp;autohide=1&amp;showinfo=0" width="410" height="230" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
			            </div>
						<div class="one_half">
							<p>Uniquely whiteboard just in time sources through fully researched methodologies. Rapidiously administrate vertical functionalities whereas robust outsourcing. Rapidiously exploit team building benefits before multimedia based portals. Quickly revolutionize seamless infomediaries without seamless quality vectors. Energistically productivate virtual bandwidth whereas pandemic niches. Interactively fabricate cost effective web services.</p>
						</div>
						<div class="divider_30"></div>
			          </div>
				</div>

				<div class="clearfix"></div>

				<!-- Tweets -->
				<div class="author_tweets_full white">
					<div class="boxed">
						<div class="one_sixth text-center">
							<i class="fa fa-twitter"></i>
						</div>
						<div class="sixth_one">
							<span>@modeltheme - <i>This is the best theme in the world #html5 #themeforest/item/travelogue... http://t.co/modeltheme - 3 days ago</i></span>
						</div>
					</div>
				</div>

				
			</article>
		</div><!-- /container -->


		<!-- ### Sidebar Menu ##################################################################### -->
		<div id="st-container" class="st-container"></div>

		<!-- ### JS Scripts ##################################################################### -->
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/sidebarEffects.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/jquery.ketchup.all.min.js"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;  
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE 
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;
				
				disable_scroll();
				
				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}
				
				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>
		<a href="#0" class="back-to-top">Top</a>
	</body>
</html>