
<div class="container">
  <h1 class="contact-header"> Dont be a stranger....</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="visitor_name" type="text" class="validate" style="font-color: white;">
          <label id="labelw" for="first_name">What is your name?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" >
          <label for="email">What is your email?</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate" >
          <label for="email">What do you want to talk about?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="text" class="materialize-textarea"></textarea>
          <label for="text">Can you give me more details?</label>
        </div>
      </div>
      <a class="waves-effect waves-white btn-flat" style="background-color:#ffffff;">Submit</a>
      
    </form>
  </div>
</div>
        