<div><h1 id= "lp-header">The Struggling Black</h1></div>

  <body>  
    <a id="bgndVideo" class="player"  data-property="{videoURL:'https://www.youtube.com/watch?v=361NKeK5P68',containment:'body',autoPlay:true, mute:true, startAt:0,opacity:1,ratio:'16/9', addRaster:true, realfullscreen:true, showControls:false, loop:true}"></a> 
  </body>


<%= link_to "Proceed to the struggle....", posts_path, id: "lp-link" %>


<!-- Javascript for the Video Background--> 
 <script>
      jQuery(function(){
                
       // This is necessary to have the video background to occur
       jQuery(".player").mb_YTPlayer();

      })
 </script>