<div class="container">
<h1 class="about_me_header">Make Yo Necessary Changes</h1>


  <%= render 'form' %>
  <%= link_to 'Show', @post, class: "ebd-links3" %> |
  <%= link_to 'Back', posts_path, class: "ebd-links3" %>
</div>


