/*----------------------------------------------------------------------------- Style for Landing Page */
#lp-header {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size:72px;
  position: fixed !important;
  position: absolute; /* ie6 */
  top: 0;
  
  
}

#lp-link{
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 35px;
  position:fixed !important;
  position: absolute; /*ie6 */
  bottom: 0;
  right: 0;
}

/*-----------------------------------------------------------------------------------Style for navbar */

.nav-logo{
   font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 35px;
  padding-left: 30px;
}

.nav-links{
  font-family: 'Electrolize', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 20px;
  
}

/* ---------------------------------------------------------------------------------------Style for show */

.main_image_show{
  max-height: 500px;
  width: 2000px;
}

h7, .show-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: bkack;
  font-size: 400%;
  
}
p, .show-text{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 30px;
}
.ebds-links{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 20px;
}

/*---------------------------------------------------------------------------------- Style for About */

#about_me_pic{
   background-image: asset-data-url("tsb6.png");
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

 #about_me_txt{
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
}

 .about_me_header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 55px;
}

.sign_in{
  color: black;
  font-size: 50%;
}

/*----------------------------------------------------------------------------- Style for Contact */

input, #visitor_name {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #email {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #subject {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #text {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

label{
  color: white;
  font-family: 'Electrolize', sans-serif;
}

.contact-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 400%;
}

.con-button {
  background-color: white;
      position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
      -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;

  box-shadow: none;
  border: none;
    border-radius: 2px;
  height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
  
  
}

/*-------------------------------------------------------------------------Style for Post Index */
.ebd-links{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 50%;
}

/*---------------------------------------------------------------------Style for Form */

.form-style{
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 45px;
}

.ebd-links3{
  font-family: 'Electrolize', sans-serif;
  color: white;
  font-size: 30px;
}
 

