/* Style for Landing Page */
#lp-header {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 400%;
  position: fixed !important;
  position: absolute; /* ie6 */
  top: 0;
  
  
}

#lp-link{
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 200%;
  position:fixed !important;
  position: absolute; /*ie6 */
  bottom: 0;
  right: 0;
}

/* Style for navbar */

.nav-logo{
   font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 200%;
  padding-left: 100px;
}

.nav-links{
  font-family: 'Electrolize', sans-serif;
  font-weight: 500;
  color: white;
  font-size: large;
  
}

/* Style for show */

.main_image_show{
  height:700px;
  width: 1500px;
}