/*----------------------------------------------------------------------------- Style for Landing Page */
#lp-header {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 400%;
  position: fixed !important;
  position: absolute; /* ie6 */
  top: 0;
  
  
}

#lp-link{
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 200%;
  position:fixed !important;
  position: absolute; /*ie6 */
  bottom: 0;
  right: 0;
}

/*-----------------------------------------------------------------------------------Style for navbar */

.nav-logo{
   font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 200%;
  padding-left: 100px;
}

.nav-links{
  font-family: 'Electrolize', sans-serif;
  font-weight: 500;
  color: white;
  font-size: large;
  
}

/* ---------------------------------------------------------------------------------------Style for show */

.main_image_show{
  height:700px;
  width: 1500px;
}

h7, .show-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: bkack;
  font-size: 400%;
  
}
p, .show-text{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 200%;
}
.ebds-links{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 75%;
}

/*---------------------------------------------------------------------------------- Style for About */

#about_me_pic{
   background-image: asset-data-url("tsb6.png");
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

 #about_me_txt{
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 125%;
}

 .about_me_header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 300%;
}

.sign_in{
  color: black;
  font-size: 50%;
}

/*----------------------------------------------------------------------------- Style for Contact */

input, #visitor_name {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #email {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #subject {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

input, #text {
  color: white;
  font-family: 'Electrolize', sans-serif;
  
}

label{
  color: white;
  font-family: 'Electrolize', sans-serif;
}

.contact-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: white;
  font-size: 400%;
}

/*-------------------------------------------------------------------------Style for Post Index */
.ebd-links{
  font-family: 'Electrolize', sans-serif;
  color: black;
  font-size: 50%;
}
 
